openpyxl
lxml
bs4
requests
aiogram
python-dotenv
asyncio
SQLAlchemy
aiosqlite
beautifulsoup4
APScheduler
selenium
selenium-stealth
undetected-chromedriver
webdriver-manager
urllib3
browser-cookie3
curl_cffi
tqdm
webdriver-manager